body {
    background-image: url(img/Fondo.jpg);
    background-size: 100%;
}
    
.big-box {
    margin-top: 10px;
    margin-bottom: 10px;    
    display: flex;    
    height: 60px;
}

.box-1 {
    align-items: center;
    display: flex;
    justify-content: center;    
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.id-serempre {
    width: 50px;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;    
}

.box-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.l1 {
    
    display: flex;
    display: inline-block;
    color: white;
    text-align: center;
    align-items: center;    
    border-radius: 3px; 
    width: 90px;
    height: 25px;
    background-color: rgb(0, 0, 0);    
    margin-left: 0%;
    margin-right: 0%;
}

.l1:hover {
    background-color: rgb(128, 128, 128);
}

.box-art-asi {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    height: 400px;
}

.box-art {  
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box-in-article {
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgb(163, 163, 163);
    width: 20em;
    height: 18em;
    border-radius: 10px;
}

.pc-img {
    width: 250px;
    height: 250px;
}

.box-asi {
    display: flex;
    flex-direction: column;
    align-items: center;      
    background-color: whitesmoke;
    width: 40%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-inputs{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 70%;
    height: 100%;
}

.foot {    
    display: flex;       
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    height: 130px;
    width: 100%;    
}

.table-box {
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.box-foot {
    display: inline-flex;    
    justify-content: center;
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.table-box{
    display: flex;
    align-items: center;
}

.table-footer {
    display: flex;
    background-color: rgb(255, 255, 255);  
}

.table-row {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;    
}

